@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #000000;
    font-family: 'Montserrat', sans-serif;
}
.hero {
  position: relative;
  overflow: hidden;
  padding: 80px 0px;
}
@media (max-width: 768px) {
  .hero{
    padding-top: 10px;
  }
}
.hero h1 {
  margin-top: 0;
  margin-bottom: 24px;
  color: #ffffff;
  font-size: 3rem;
  line-height: 60px;
  font-weight: 500;
}

.hero .text_base{
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
}
.data_section{
  padding: 40px 0px;
}
.bg-gradient {
  background: linear-gradient(65deg,#111432,#0eb461);
}
